.content{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    display:flex;
}

h1{
    color: white;
    background-color: orange;
}

nav{
    border:1px solid black;
}
footer{
    margin: 0 auto;
    width: 900px;
    height: 30px;
    border:1px solid black;
    text-align: center;
    background-color: orange;
}